 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-font {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.search-control {
  color: black;
  border-radius: 30px;
  width: 412px;
  height: 53px;
}

table {
  counter-reset: tableCount;     
}

.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}
